.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-area {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #333;
  overflow: hidden;
  margin-bottom: 20px;
  border: 2px solid #000;
}

.snake,
.food {
  position: absolute;
  width: 10px;
  height: 10px;
}

.snake {
  background-color: #fff;
  z-index: 1;
}

.food {
  background-color: #f00;
  z-index: 2;
}

.score {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.start-button,
.restart-button,
.high-score,
.close-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.restart-button {
  background-color: #f44336;
}
