<main>
  <h2>Our Games</h2>
  <div id="game-list">
    <div class="game , animation">
      <img src="./Highway.png" alt="Game 1">
      <h3>Pixel Python</h3>
      <p style="font-size: 10px;">Dive into the retro world of Pixel Python, where you control a pixelated serpent, navigating a pixel-perfect landscape and devouring pixels to gain points</p>
      <button routerLink="snake" target="_blank" class="play-btn" >Play Now</button>
    </div>
    <div class="game , animation">
      <img src="game2.jpg" alt="Game 2">
      <h3>Game 2</h3>
      <p>Description of Game 2</p>
      <button class="play-btn" data-game="game2">Play Now</button>
    </div>
    <div class="game , animation">
      <img src="game3.jpg" alt="Game 3">
      <h3>Game 3</h3>
      <p>Description of Game 3</p>
      <button class="play-btn" data-game="game3">Play Now</button>
    </div>
    <div class="game , animation">
      <img src="game4.jpg" alt="Game 4">
      <h3>Game 4</h3>
      <p>Description of Game 4</p>
      <button class="play-btn" data-game="game4">Play Now</button>
    </div>

    <!-- add more games as needed -->
  </div>
</main>
